<html>
  <head>
    <title>Bronze blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Bronze Blog </a> </h1>
    </div>

    <div>
      <p>published: 17.06.2020, 12:14</p>
      <h2><a href="/">My first post<a/></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis blah blah blah </p>
    </div>

    <div>
      <p>published: 17.06.2020, 12:14</p>
      <h2><a href="/">My second post<a/></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis blah blah number 2 </p>
    </div>

  </body>
</html>
